/* Color Styles */
$lightblue: rgb(218, 233, 254);
$blacktext: rgb(63, 54, 59);
$bluetext: rgb(24, 71, 132);
$colorred: red;

// Color Palette Purple
$light_primary: #D9D9D9;
$pink: #D879F1;
$purple_basic: #6C4572;
$purple_light: #81568C;
$purple_medium: #563958;
$light_pink: #fef7fc;
$shocking_purple: #e2d8eb;

// Color Palette Bordeaux
$warm_ligth_pink: #e5ccd5;
$warm_medium_pink: #ca99ab;
$warm_dark_pink: #b06680;
$ligth_bordeaux: #953356;
$dark_bordeaux: #7b002c;

// Box Color
$box_color: #bfb4be;

/* Font Styles */
$basefont: 'Roboto', sans-serif;
$secondaryfont: 'Montserrat', sans-serif;
$fadedFont:  #6e6969;

/* Background Styles */
$backgroundGradient: linear-gradient(to right, white 20%, $light_pink);

/* Footer */
$footer_primary: #291a29;

.text-general {
        font-size: 3rem;
        font-weight: 400;
        font-family: $secondaryfont;
        color: #6e6969;
        text-shadow: 6px 6px 9px rgba(0, 0, 0, 0.3);
}